In [4]:
import pandas as pd

In [6]:
df = pd.read_csv("aircraft_wildlife.csv",
                     sep=",",  # delimiter
                     header=0, # header in first row
                     index_col=0 # ids in first column
                     )
df.head()

/var/folders/yc/033ng22x3_14htnw_rjy51540000gn/T/ipykernel_7267/2314363374.py:1: DtypeWarning: Columns (9,12,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("aircraft_wildlife.csv",

,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,Aircraft Model,Aircraft Mass,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
Record ID,,,,,,,,,,,,,,,,,,,,,
127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,148,26,4.0,...,0,0,0,0,1,1,0,0,0,0
129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,583,90,4.0,...,0,0,0,0,0,0,0,0,1,0
129780,1990,1,2,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2258,1990,1,3,MIL,MILITARY,A-10A,A,345,NaN,3.0,...,0,0,0,0,0,0,0,0,0,0
2257,1990,1,3,MIL,MILITARY,F-16,A,561,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0