In [4]:
import pandas as pd

In [11]:
df = pd.read_csv("aircraft_wildlife.csv",
                     sep=",",  # delimiter
                     header=0, # header in first row
                     index_col=0, # ids in first column,
                     usecols = ['Record ID','Aircraft Mass', 'Wing or Rotor Strike', 'Wing or Rotor Damage']
                     )

df = df.dropna(subset=['Aircraft Mass'])

df.head(50)

           Aircraft Mass  Wing or Rotor Strike  Wing or Rotor Damage
Record ID
127128               4.0                     0                     0
129779               4.0                     0                     0
2258                 3.0                     1                     0
129734               4.0                     0                     0
127848               3.0                     0                     0
107155               4.0                     0                     0
113914               3.0                     0                     0
102248               4.0                     0                     0
129739               4.0                     0                     0
127472               1.0                     0                     0
129401               1.0                     0                     0
102359               4.0                     0                     0
127473               3.0                     0                     0
129614               4.0                     0                     0
129402               3.0                     0                     0
129089               1.0                     0                     0
127474               1.0                     0                     0
1607                 3.0                     0                     0
1608                 3.0                     1                     0
129747               4.0                     0                     0
126914               2.0                     0                     0
127252               4.0                     0                     0
123253               4.0                     0                     0
123992               5.0                     0                     0
120677               4.0                     0                     0
129615               3.0                     0                     0
126128               4.0                     0                     0
123359               4.0                     0                     0
129617               4.0                     0                     0
129403               1.0                     0                     0
1613                 3.0                     1                     0
100032               4.0                     0                     0
100363               3.0                     0                     0
129616               4.0                     0                     0
116440               4.0                     0                     0
116450               4.0                     0                     0
101602               4.0                     0                     0
126915               4.0                     0                     0
120049               4.0                     0                     0
123681               4.0                     0                     0
110494               4.0                     0                     0
2144                 3.0                     1                     1
100098               4.0                     0                     0
103768               4.0                     0                     0
120880               4.0                     0                     0
125639               4.0                     0                     0
122404               4.0                     0                     0
2147                 3.0                     0                     0
101577               1.0                     0                     0
102449               5.0                     0                     0

In [ ]:
# Does aircraft mass relate to wing strikes

In [ ]:
aircart_strike=