# Titanic Survival Classification

Connect to Google Drive.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
##dont need this chunk

Import pandas, seaborn, and matplotlib.

In [4]:
import pandas as pd
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

ModuleNotFoundError: No module named 'sklearn'

Read the train data.

In [5]:
train_data = pd.read_csv("train.csv",
                     sep=",",  # delimiter
                     header=0, # header in first row
                     index_col=0 # ids in first column
                     )
train_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Read the test data.

In [6]:
test_data = pd.read_csv("test.csv",
                     sep=",",  # delimiter
                     header=0, # header in first row
                     index_col=0 # ids in first column
                     )

Check the train data for missingess, levels, etc.

In [7]:
train_data.describe(include="all")

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

Check the test data for missingness, levels, etc.

In [8]:
test_data.describe(include="all")

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,418.000000,418,418,332.000000,418.000000,418.000000,418,417.000000,91,418
unique,NaN,418,2,NaN,NaN,NaN,363,NaN,76,3
top,NaN,"Kelly, Mr. James",male,NaN,NaN,NaN,PC 17608,NaN,B57 B59 B63 B66,S
freq,NaN,1,266,NaN,NaN,NaN,5,NaN,3,270
mean,2.265550,NaN,NaN,30.272590,0.447368,0.392344,NaN,35.627188,NaN,NaN
std,0.841838,NaN,NaN,14.181209,0.896760,0.981429,NaN,55.907576,NaN,NaN
min,1.000000,NaN,NaN,0.170000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,1.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.895800,NaN,NaN
50%,3.000000,NaN,NaN,27.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,3.000000,NaN,NaN,39.000000,1.000000,0.000000,NaN,31.500000,NaN,NaN
max,3.000000,NaN,NaN,76.000000,8.000000,9.000000,NaN,512.329200,NaN,NaN

Select columns and create dummies.

In [9]:
predictors = ["Pclass",
              "Sex",  
              "Age",  
              "SibSp",  
              "Parch",  
              "Fare",  
              "Embarked"]

X_train = pd.get_dummies(train_data[predictors],
               drop_first=True)
y_train = train_data["Survived"]

X_test = pd.get_dummies(test_data[predictors],
               drop_first=True)

Replace missing values with the means from the training data.

In [11]:
train_means = X_train.mean()

X_train = X_train.fillna(train_means)
X_test = X_test.fillna(train_means)

Fit logistic regression model and calculate accuracy using the train data.

In [12]:
my_lr = LogisticRegression(max_iter=400).fit(X_train, y_train)
lr_pred_train = my_lr.predict(X_train)
metrics.accuracy_score(y_train, lr_pred_train)

NameError: name 'LogisticRegression' is not defined

Create confusion matrix.

In [ ]:
metrics.confusion_matrix(y_train, lr_pred_train)

Make predictions using test data.

In [ ]:
lr_pred_test = my_lr.predict(X_test)

Format predictions for output and write to csv.

In [ ]:
lr_output = pd.DataFrame(lr_pred_test,
                      index=X_test.index,
                      columns=["Survived"])
lr_output.to_csv("/content/drive/MyDrive/320/lr_pred.csv")

Fit decision tree model and calculate accuracy on the train data.

In [ ]:
my_tree = DecisionTreeClassifier().fit(X_train, y_train)
tree_pred_train = my_tree.predict(X_train)
metrics.accuracy_score(y_train, tree_pred_train)

Create confusion matrix for the train data.

In [ ]:
pd.DataFrame(metrics.confusion_matrix(y_train, tree_pred_train, normalize="true"))

Make predictions using test data.

In [ ]:
tree_pred_test = my_tree.predict(X_test)

Format predictions for output and write to csv.

In [ ]:
tree_output = pd.DataFrame(tree_pred_test,
                      index=X_test.index,
                      columns=["Survived"])
tree_output.to_csv("/content/drive/MyDrive/320/tree_pred.csv")