In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import RobustScaler, StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.model_selection import cross_val_score, train_test_split, cross_val_predict
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
!pip install xgboost
import xgboost as xgb
from xgboost import XGBClassifier

Requirement already satisfied: xgboost in /Users/dylanhahn/opt/anaconda3/lib/python3.9/site-packages (1.7.1)
Requirement already satisfied: scipy in /Users/dylanhahn/opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in /Users/dylanhahn/opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.21.5)

In [3]:
# Reading shopping data
X_train = pd.read_csv('layoffs.csv')
df = X_train.copy()
df.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
0,Lemon,Buenos Aires,Crypto,NaN,0.38,2022-11-24,Series A,Argentina,17.0
1,Assure,Salt Lake City,Finance,NaN,1.00,2022-11-23,Seed,United States,2.0
2,GoodGood,Toronto,Retail,NaN,1.00,2022-11-23,Seed,Canada,6.0
3,SIRCLO,Jakarta,Retail,160.0,0.08,2022-11-22,Series B,Indonesia,92.0
4,Trax,Singapore,Retail,80.0,0.08,2022-11-22,Series E,Singapore,1000.0